.ul-1
{
    list-style-type: none;
    width: 250px;
    background-color: #f3f3f3 ;
    border: 1px solid #ddd;
    padding: 0;   /* mặc định padding ul left = 40px ??*/
    margin: 0;
}

.ul-1 li
{
    border: 1px solid #ddd;
    background: #f3f3f3;
    padding: 10px;
}
.ul-1 li:hover
{
    background-color:  #0056a6;
    color: white;
}

/*  vì phía dưới cũng dùng ul li --> dùng class để phân biệt*/

/* .ul-2
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

 .ul-2 li
{
    display: inline-block;
    margin-right: 50px;
    /* position: relative; 
}

.ul-2 li a
{
    background-color: #ddd;
    color: black;
    width: 60px;
    height: 60px;
    
}



.ul-2 a:hover
{
    background-color: brown;
    color: white;
}  */

.menu-2
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-2 li {
    margin-right: 10px;
    display: inline-block;
}

.menu-2 li a {
    background-color: #ddd;
    color: #000;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    position: relative;
}
.menu-2 li a i
{
    position: absolute;
    top: 11px;
    right: 11px;
}

.menu-2 li a:hover {
    background-color: #a64200;
    color: #fff;
}
